# Dependencias de Composer
vendor/

# Herramientas de IA y asistentes (Cachés, logs y configs locales)
.agents/
.augment/
.claude/

# Configuración local de VS Code
.vscode/

# Archivos del sistema u otros (Opcional, pero muy recomendado)
.DS_Store
Thumbs.db

# Archivos de entorno (si los usas, aunque es mejor mantenerlos fuera del proyecto)
composer.lock
composer.json
.env


docs/
private/